<form (ngSubmit)="addProduct()">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input
      name="name"
      type="text"
      class="form-control"
      id="name"
      [(ngModel)]="product.name"
    />
  </div>
  <div class="mb-3">
    <label for="slug" class="form-label">Slug</label>
    <input
      name="slug"
      type="text"
      class="form-control"
      id="slug"
      [(ngModel)]="product.slug"
    />
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <input
      name="description"
      type="text"
      class="form-control"
      id="description"
      [(ngModel)]="product.description"
    />
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input
      name="price"
      type="number"
      class="form-control"
      id="price"
      min="0"
      step="0.01"
      [(ngModel)]="product.price"
    />
  </div>

  <button type="submit" class="btn btn-primary">Add</button>
</form>
